<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div id="container">
    <div class="header">
      <img src="https://aapi.io/pages-aapi-services/assets/logos/logo-color.svg" alt="logo" />
      <ul>
        <li><a class="active" href="#home">why aapi?</a></li>
        <li><a href="#news">Solutions</a></li>
        <li><a href="#contact">Partnerships</a></li>
        <li><a href="#about">Resources</a></li>
        <li><a href="#about">About us</a></li>
      </ul>
      
    </div>

<div class="flex-container">
  <div class="flex-item-left">
    <div class='some-page-wrapper'>
      <div class='row1'>
        <div class='column1'>
          <div class='blue-column1'>
            <h4 style=font:36px;>RIP APART
              YOUR APPS</h4>
              <p style=font:14px;>Rebuild them the way you want by embedding functionality and data from app to app</p>
          </div>
        </div>
        <div class='column1'>
          <div class='green-column1'>
            <img src="https://images.aapi.io/homepage-header.gif" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-item-right">
    <img src="https://aapi.io/pages-aapi-services/assets/home/page-02/group-header.svg" alt="">
    <p style="font-size:18px;">aapi ties applications and identity to automation and productivity with:</p>

  
  </div>
  <div class="flex-item-left">

    <div class='some-page-wrapper'>
      <div class='row1'>
        <div class='column1'>
          <div class='blue-column1'>
            <h6 style="color: #E98021" >STEP 1</h6>
            <h4 style=font:36px;>CHOOSE YOUR APP FUNCTIONS</h4>
              <p style=font:14px;>Take desired functions from your apps and put them wherever you need them the most for a truly seamless app experience.</p>
          </div>
        </div>
        <div class='column1'>
          <div class='green-column1'>
            <img  style="padding:20px" src="https://aapi.io/pages-aapi-services/assets/home/page-02/step1.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-item-right">
    <div class='some-page-wrapper'>
      <div class='row1'>
        <div class='column1'>
          <div class='green-column1'>
            <img  style="padding:20px" src="https://aapi.io/pages-aapi-services/assets/home/page-02/step1.svg" alt="">
          </div>
        </div>
        <div class='column1'>
          <div class='blue-column1'>
            <h6 style="color: #E98021" >STEP 2</h6>
            <h4 style=font:36px;>CHOOSE YOUR APP FUNCTIONS</h4>
              <p style=font:14px;>Take desired functions from your apps and put them wherever you need them the most for a truly seamless app experience.</p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="flex-item-left">

    <div class='some-page-wrapper'>
      <div class='row1'>
        <div class='column1'>
          <div class='blue-column1'>
            <h6 style="color: #E98021" >STEP 3</h6>
            <h4 style=font:36px;>RIGHT FUNCTION FOR THE RIGHT DATA</h4>
              <p style=font:11px;>aapi gathers the relevant data from virtually any app and automatically embed the correct real-time actions necessary for the event at hand.

                As an example, aapi can enable actions within a PagerDuty incident page when suspicious activity is reported within Okta. From the incident page, assigned staff can suspend the user within Okta, send a message via Slack, and/or create a ticket in Zendesk, all automatically with a single click from within PagerDuty.</p>
          </div>
        </div>
        <div class='column1'>
          <div class='green-column1'>
            <img  style="padding:20px" src="https://aapi.io/pages-aapi-services/assets/home/page-02/step3.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-item-right">
    <div class='some-page-wrapper'>
      <div class='row1'>
        <div class='column1'>
          <div class='green-column1'>
            <img  style="padding:20px" src="https://aapi.io/pages-aapi-services/assets/home/page-02/step4.svg" alt="">
          </div>
        </div>
        <div class='column1'>
          
          <div class='blue-column1'>
            <h6 style="color: #E98021" >STEP 4</h6>
            <h4 style=font:36px;>AUTOMATED ACTIONS WITH JUST A SINGLE CLICK</h4>
              <p style=font:14px;>With just a single click, actions tied to real-time data take place in the connected apps. Better yet, tedious tasks and repetitive data entry are automated by aapi. No more switching between multiple apps and no more copying and pasting the same data numerous times. One click from your app of choice and your task is done.</p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="flex-item-right">
    
    <div class="row2">
      <h4>WHAT aapi MEANS FOR YOUR BUSINESS</h4>
      <div class="column2" >
        <img src="https://aapi.io/pages-aapi-services/assets/home/page-02/emb-func.svg" alt="">
        <h6>EMBED FUNCTIONS</h6>
        <p>Embed functionality from any app into the app of your choice.</p>
      </div>
      <div class="column2" >
        <img src="https://aapi.io/pages-aapi-services/assets/slider/eu1.png" alt="">
        <h6>AUTOMATE TASKS</h6>
        <p>No more tedious tasks and repetitive data entry.</p>
      </div>
      <div class="column2" >
        <img src="https://aapi.io/pages-aapi-services/assets/home/page-01/aggregate-data.png" alt="">
        <h6>DATA CONFIDENCE</h6>
        <p>Collect the data you need from any app into any repository</p>
      </div>
      <div class="column2" >
        <img src="https://aapi.io/pages-aapi-services/assets/home/page-01/micro-access.png" alt="">
        <h6>LEAST-PRIVILEGE</h6>
        <p>Give users access to only the functionality they need and nothing else.</p>
      </div>
    </div>
  </div>
  <div class="flex-item-left">
    <div class="row">
      <h2 style="text-align: center;">MAKE YOUR DREAM APP</h2>
      <h5 style="text-align: center;">Where do you want to start?</h5>
      <div class="column">
        <div class="card">
          <h6>COMMUNICATION PLATFORMS</h6>
          <div class="row">
            <div class="column" >
              <img src="https://aapi.io/pages-aapi-services/assets/home/page-02/rectangle-comm-plat.svg" alt="">
            </div>
            <div class="column" >
              <img src="https://aapi.io/pages-aapi-services/assets/home/page-02/rectangle-slack.svg" >
            </div>
            <div class="column" >
              <img src="https://aapi.io/pages-aapi-services/assets/home/page-02/group-etc.svg" alt="">
            </div>
          </div>
          
          <p>Some text</p>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <h6>APPLICATIONS</h6>
          <img src="https://aapi.io/pages-aapi-services/assets/home/page-02/rectangle-gmail.svg" alt="">
          <p>Some text</p>
        </div>
      </div>
      
      <div class="column">
        <div class="card">
          <h6>INCIDENT RESPONSE</h6>
          <img src="https://aapi.io/pages-aapi-services/assets/home/page-02/rectangle-right-arrow.svg" alt="">
          <p>Some text</p>
        </div>
      </div>
      
      <div class="column">
        <div class="card">
          <h6>IDENTITY PLATFORMS</h6>
          <img src="https://aapi.io/pages-aapi-services/assets/home/page-02/rectangle-okta.svg" alt="">
          <p>Some text</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-item-left">
    
    <div class="row">
      <h6 style="text-align: center;" >WHY aapi?</h6>
      <div class="column" >
        <h6 style="color: #E98021">FLEXIBILITY FOR ANY USE CASE</h6>
        <p style="font-size: smaller">aapi works with any identity (user, device, IoT based) while offering advanced logic and flexible workflows for any use case - deployed anywhere.</p>
      </div>
      <div class="column" >
        <h6 style="color: #E98021">NO CODING REQUIRED</h6>
        <p style="font-size: smaller">aapi offers an intuitive UI that requires zero coding. Workflows that previously required days of custom work and coding can be done in minutes.</p>
      </div>
      <div class="column" >
        <h6 style="color: #E98021">10X PRODUCTIVITY</h6>
        <p style="font-size: smaller">No more tedious data entry, no more jumping between apps, and no more manual provisioning of identities.</p>
      </div>
    </div>
  </div>
  <div class="flex-item-right">10</div>
  <div class="flex-item-left">
    <div class='some-page-wrapper'>
      <div class='row1'>
        <div class='column1'>
          <div class='blue-column1'>
            <img src="https://aapi.io/pages-aapi-services/assets/orange7.png" alt="">
            <h4 style="font:43px">Get aapi NOW!</h4>
             
          </div>
        </div>
        <div class='column1'>
          <div class='green-column1'>
            <img   src="https://aapi.io/pages-aapi-services/assets/stuff.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
    </div>
    
  
</div>
</div>
</body>
</html>
